#navbar {
    text-align:center;
}

#navbar li {
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
    background-color: grey
}

.tiger{
    top:300px;
}
.lion{
    top:300px

}
#navbar a {
    color: white;
}